body{
  margin: 0;
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Sacramento', sans-serif;
  font-size: 5rem;
  margin-top: 6%;
  color: #1687a7;
}
h2{
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 2.5rem;
  color: #1687a7;
}
h3{
  font-family: 'Archivo', sans-serif;
  font-size: 1.25rem;
  color: #11999E;
}
a{
  color: #11999E;
  text-decoration: none;
  font-size: 1rem;
  padding: 50px;
  font-family: 'Merriweather Sans', sans-serif;
}
hr{
  height: 0;
  width: 4.2%;
  border: none;
  border-top: 7px dotted;
  margin: 100px auto;
  border-color: #ccf2f4;
}
p{
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  font-size: 1rem;
}
.head-subtitle{
  font-weight: normal;
}
.top-container{
    background-color: #ccf2f4;
  padding-top:20px;
  position: relative;
}
.bottom-container{
  background-color: #aaaaaa;
  padding: 5%;
}
.cloud1{
  position: absolute;
  left: 20%;
  bottom: 30%;
}
.cloud2{
  position: absolute;
  right: 20%;
  top: 6%;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill1-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill3-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.profile-img{
  margin-top: 100px;
}
.BUTTON_LXW {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #036164);
   background-image: -moz-linear-gradient(top, #11999E, #036164);
   background-image: -ms-linear-gradient(top, #11999E, #036164);
   background-image: -o-linear-gradient(top, #11999E, #036164);
   background-image: -webkit-gradient(to bottom, #11999E, #036164);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Verdana;
   width: 150px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_LXW:hover {
   background: #AAAAAA;
   border: solid #337FED 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.btn{
  width:200px;
  margin: 75px auto;
}
.copy-right{
  padding-top: 50px;
}
